<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditEvent</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="background-image auth-background">
<div class="wrapper">
    <header>
        <!-- header indhold -->
        <div th:insert="~{parts/navigation:: nav}"></div>
    </header>
    <main>
        <div class="container">
            <h2>Redigér event</h2>
            <form method="post" th:action="@{/updateEvent}" th:object="${event}">
                <input type="hidden" th:field="*{id}">

                <label>Navn:</label>
                <input class="inputBox" type="text" id="name" th:field="*{name}" required>
                <label class="inputLabel">Event type:
                    <select th:field="*{type}" class="inputBox">
                        <option th:each="type : ${T(org.example.andensemesterproeve_thesemicolons.domain.enums.EventType_ENUM).values()}"
                                th:value="${type.name()}"
                                th:text="${type}">
                        </option>
                    </select>
                </label>


                <label>Format(Valgfrit):
                    <input class="inputBox" type="text" id="format" th:field="*{format}">
                </label>

                <label>Max antal spillere:</label>
                <input class="inputBox" type="number" id="maxPlayers" th:field="*{maxPlayers}" min="1" step="1"
                       required>

                <label>Dato:</label>
                <input class="inputBox" type="date" id="date" name="date"
                       th:value="${event.date != null} ? ${#temporals.format(event.date, 'yyyy-MM-dd')} : ''" required>

                <label>Tidspunkt:</label>
                <input class="inputBox" type="time" id="time" name="time"
                       th:value="${event.time != null} ? ${#temporals.format(event.time, 'HH:mm')} : ''" required>

                <br><br>
                <button class="submitButton" type="submit">Gem ændringer</button>
            </form>

            <br>
            <div th:if="${event.type == T(org.example.andensemesterproeve_thesemicolons.domain.enums.EventType_ENUM).Turnering}">
                <form method="post" th:action="@{/editEvent/setEventWinner}">
                    <input type="hidden" th:name="eventId" th:value="${event.id}">
                    <label class="inputLabel">Vælg vinder:
                        <select class="inputBox" name="userId">
                            <option th:value="-1">Ingen vinder</option>
                            <option th:each="user : ${event.participants}"
                                    th:value="${user.id}"
                                    th:text="${user.username}">
                            </option>
                        </select>
                    </label>
                    <button class="submitButton" type="submit">Opdatér vinder</button>
                </form>
            </div>

        </div>
    </main>
    <div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>