<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventinformation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="background-image auth-background">
<div class="wrapper">
    <header>
        <div th:insert="~{parts/navigation:: nav}"></div>
    </header>
    <main>
        <div class="container">
            <h2 th:text="|${event.name} - information|">Eventinformation</h2>
        </div>

        <button class="changePageButton" type="button" th:onclick="|window.location.href='@{/allEvents}'|">Tillbage til alle events</button>

        <section class="event-container">
            <div class="card">
                <div class="event-card-content">
                    <div class="event-details-row">
                        <div class="info-item">
                            <label>Type:</label>
                            <p th:text="${event.type}">Type</p>
                        </div>

                        <div class="info-item">
                            <label>Format:</label>
                            <p th:text="${event.format}">Format</p>
                        </div>

                        <div class="info-item">
                            <label>Max antal Spillere:</label>
                            <p th:text="${event.maxPlayers}">Max antal spillere</p>
                        </div>

                        <div class="info-item">
                            <label>Dato:</label>
                            <p th:text="${event.date}">Dato</p>
                        </div>

                        <div class="info-item">
                            <label>Tidspunkt:</label>
                            <p th:text="${event.time}">Tid</p>
                        </div>

                        <div class="info-item">
                            <label>Event status:</label>
                            <p th:text="${event.eventStatus}">Event Status</p>
                        </div>

                        <div class="info-item">
                            <label>Antal tilmeldte:</label>
                            <p th:text="|${#lists.size(event.participants)} / ${event.maxPlayers} deltagere|">Antal tilmeldte</p>
                        </div>

                        <br>
                        <button class="changePageButton" type="button"
                                th:onclick="|window.location.href='@{/signUp/myEvents/{id}(id=${event.id})}'|">Tilmeld
                        </button>
                        <div th:if="${user.title == T(org.example.andensemesterproeve_thesemicolons.domain.enums.Title_ENUM).Admin}">
                            <button class="submitButton" type="button" th:onclick="|window.location.href='@{/editEvent/myEvents/{id}(id=${event.id})}'|">Redigér</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>