<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min profil</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="background-image auth-background">
<div class="wrapper">
    <header>
        <div th:insert="~{parts/navigation:: nav}"></div>
    </header>
    <main>
        <div class="container">
            <h2>Min profil</h2>
            <span th:text="|Username: ${user.username}|">Username</span>
            <br><br>
            <span th:text="|Email: ${user.email}|">Email</span>
            <br> <br>
            <p><span th:text="|Antal deck: ${#lists.size(user.decks)}|">Antal deck</span></p>
            <p><span th:text="|Antal kort: ${#lists.size(user.cards)}|">Antal kort</span></p>
            <br>
            <button class="changePageButton" type="button" th:onclick="|window.location.href='@{/logout}'|">Log ud</button>

        </div>
    </main>
    <div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>