<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unexpected error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="background-image auth-background">
<div class="wrapper">
    <main>
        <div class="container">
            <h2>Der skete en uventet fejl :(</h2>
            <p>Der skete en uventet fejl. Vi arbejder på at løse problemet</p>
            <br>
            <button class="changePageButton" type="button" th:onclick="|window.location.href='@{/homePage}'|">Gå til forsiden</button>

        </div>
    </main>
    <div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>