<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="background-image auth-background home-page">
<div class="wrapper">
    <header>
        <!-- header indhold -->
        <div th:insert="~{parts/navigation:: nav}"></div>
    </header>
    <main>
        <div class="link-group">
            <div class="container" th:onclick="|window.location.href='@{/myDecks}'|">
                <h3 class="link-heading">Mine deck </h3>
                <img class="link-img" th:src="@{image/deckStack.png}" alt="Illustration til mine deck">
            </div>

            <div class="container" th:onclick="|window.location.href='@{/myEvents}'|">
                <h3>Mine events</h3>
                <img th:src="@{image/mineEvents.png}" alt="Illustration til mine events">
            </div>

            <div class="container" th:onclick="|window.location.href='@{/allEvents}'|">
                <h3>Find events</h3>
                <img class="link-img" th:src="@{image/FindEvent.png}" alt="Illustration til find event">
            </div>

            <div class="container" th:onclick="|window.location.href='@{/myProfile}'|">
                <h3>Min profil</h3>
                <img th:src="@{image/profile.png}" alt="Illustration til min profil">
            </div>

            <div class="container" th:onclick="|window.location.href='@{/myCards}'|">
                <h3>Min kortsamling</h3>
                <img th:src="@{image/deck.png}" alt="Illustration til min kortsamling">
            </div>

            <div class="container" th:onclick="|window.location.href='@{/trading/myTradingCards}'|">
                <h3>Mine byttekort</h3>
                <img th:src="@{image/swap.png}" alt="Illustration til min kortsamling">
            </div>

            <div class="container" th:if="${currentUser.title == T(org.example.andensemesterproeve_thesemicolons.domain.enums.Title_ENUM).Admin}" th:onclick="|window.location.href='@{/admin}'|">
                <h3>Admin-side</h3>
                <img th:src="@{image/admin.png}" alt="Illustration til admin">
            </div>

        </div>
    </main>
    <div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>