<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="background-image auth-background">
<div class="wrapper">
    <header>
        <!-- header indhold -->
    </header>
    <main>
<div class="container">
    <h2>Login</h2>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <input class="inputBox" type="text" th:field="*{username}" placeholder="Brugernavn" required>
        <br>
        <input class="inputBox" type="password" th:field="*{password}" placeholder="Password" required>

        <div class="error" th:text="${error}"></div>
        <div class="button-group">
        <button class="submitButton" type="submit">Log ind</button>
        <button class="changePageButton" type="button" th:onclick="|window.location.href='@{/register}'|">Opret bruger</button>
        </div>
    </form>
</div>
    </main>
<div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>

</html>