<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Deckforge hjemmeside">
    <meta name="keywords" content="HTML, CSS, Deckforge, MTG, TCG, Magic The Gathering, cards, kort">
    <meta name="author" content="Amalie Gravgaard Lange & Sara Holmberg Juul">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrering</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="script.js" defer></script>
</head>
<body class="background-image auth-background">
<div class="wrapper">
    <header>
        <!-- header indhold -->
    </header>
    <main>
<div class="container">
    <h2>Opret bruger</h2>
    <form method="post" onsubmit="return validateTermsAndConditionsCheckbox(event)" th:action="@{/register}"
          th:object="${user}">
        <input class="inputBox" type="text" id="username" th:field="*{username}" placeholder="Brugernavn" required>
        <br>
        <input class="inputBox" type="email" id="email" th:field="*{email}" placeholder="Email" required>
        <br>
        <input class="inputBox" type="password" id="password" th:field="*{password}" placeholder="Password" required>
        <br>
        <input class="inputBox" type="password" id="name" th:name="repeatPassword" required placeholder="Gentag password">
        <br>
        <br>
        <div class="termsandconditionsbox">
            <label>
                <input class="termsandconditions" type="checkbox" name="terms" style="margin-bottom:15px">  Jeg accepterer <a href="#" class="link" onclick="termsAndConditionsClick()">privatlivspolitikken</a>
            </label>
        </div>

        <div class="error" th:text="${error}"></div>
        <p id="errorMsg" class="error"></p>

        <div class="button-group">
            <button class="submitButton" type="submit">Opret bruger</button>
            <button class="changePageButton" type="button" th:onclick="|window.location.href='@{/login}'|">Til login</button>
        </div>
    </form>

</div>
    </main>
<div th:insert="~{parts/footer:: footer}"></div>
</div>
</body>
</html>